*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;

}

nav{
    background: #f72a2a;
    height: 80px;
}
label.logo{
    color: yellow;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: aqua;
    font-size: 17px;
    text-transform: uppercase;
}


img {
    max-width:100%;
    height:250px;
    width: 500px;
    margin-right: 15px;
}